.formSearch{
    position: relative;
    margin-top: 15px;
    width: 91.33333%;
    height: 90%;
}

.input{
    border: none;
    border-radius: 5px;
    padding: 0px 15%;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #345095;
    color: #E5E5E5;
    font-size: 18px;
}

.iconSearch{
    position: absolute;
    top: 15%;
    left: 5%;
}