.navBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 5.25em;
    width: 100%;
    z-index: 6;
    background-color: white;
    border-top: 5px outset rgb(250, 250, 250);
}