.searchHeader{
    height: 9em;
    background-color: var(--primary-background);
}

.productListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 22px 0px;
    box-sizing: border-box;
    width: 91.3333333%;

}

.preDiv{
    display: contents;
}