.buttonsContainers{
    gap: 8px;
    height: 48px;
    display: flex;
    width: 91.3333333%;
    align-items: center;
    justify-content: flex-end;

    button{
        padding: 0px 20px;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        height: 100%;
        width: 45%;
        font-weight: 600;
    }
}

.first{
    background-color: #F1F1FF;
    color: var(--primary-background);
}

.second{
    background-color: var(--primary-background);
    color: #fff;
}

.disabled {
    .second {
        color: #999;
        pointer-events: none;
        background-color: #fff;
        border: 2px #e5e5ee solid;
    }
}