.optionContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91.333333%;

    span{
        width: 90%;
        font-weight: 500;
        font-size: 15px;
    }
}